body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.content {
  padding: 8px 0;
  width: 100%;
}

.table-wrapper {
  padding: 8px 16px;
}

.item {
  border: 1px solid darkgray;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  display: flex;
}

.item-name {
  margin: 0 2px;
}

.item-age {
  vertical-align: middle;
  margin-left: 8px;
}

table, th, td {
  border: 1px solid black;
}
